@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-white-90 {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .bg-gray-50-90 {
    background-color: rgba(249, 250, 251, 0.5);
  }
  .dark .dark\:bg-neutral-900-90 {
    background-color: rgba(23, 23, 23, 0.6);
  }
  .dark .dark\:bg-neutral-800-90 {
    background-color: rgba(38, 38, 38, 0.6);
  }
  .bg-white-80 {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .bg-gray-50-80 {
    background-color: rgba(249, 250, 251, 0.4);
  }
  .dark .dark\:bg-neutral-900-80 {
    background-color: rgba(23, 23, 23, 0.5);
  }
  .dark .dark\:bg-neutral-800-80 {
    background-color: rgba(38, 38, 38, 0.5);
  }
}

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}